.btn {
  border: none;
  padding: 12px 30px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}


.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary-outline {
  border: 2px solid var(--color-primary);
  background-color: #fff;
  color: #000;
}