// Estilos de la tabla
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  // Estilo para las celdas del encabezado
  th {
    background-color: var(--color-primary) !important;
    color: white !important;
    padding: 10px !important;
  }

  // Estilo para las celdas de datos
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }

  // Estilo para las filas alternas (para mejorar la legibilidad)
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  // Estilo para el hover sobre las filas
  // tr:hover {
  //   background-color: $color-naranja;
  //   color: white;
  // }
}