<div class="tablePokemon">
  <div class="tablePokemon__search">
    <!-- <mat-form-field class="example-form-field">
      <mat-label>Search</mat-label>
      <input matInput type="text" [formControl]="search">
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="by Name" #input>
    </mat-form-field>
  </div>



  <div class="tablePokemon__content">
    <table mat-table [dataSource]="dataSource" class="table example-table" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>url</th>
        <td mat-cell *matCellDef="let row">{{row.url}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>action</th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn--primary" (click)="getDetailPokemon(row.url)">Detail</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>