/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #1384b1;
}

@import "./assets/scss/table";
@import "./assets/scss/buttons";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 30px;
}