<div class="dialog">
  <div class="dialog__header">
    <h3>Details</h3>
  </div>
  <div class="dialog__content">

    <figure class="dialog__figure">
      <img [src]="pokemon.img" [alt]="pokemon.name">
    </figure>

    <div class="dialog__name">{{pokemon.name}}</div>

    <div class="dialog__info">
      <div class="dialog__info-item">
        <span>Attack:</span>
        <span>{{pokemon.attack}}</span>
      </div>

      <div class="dialog__info-item">
        <span>Defense:</span>
        <span>{{pokemon.defense}}</span>
      </div>

      <div class="dialog__info-item">
        <span>HP:</span>
        <span>{{pokemon.hp}}</span>
      </div>

      <div class="dialog__info-item">
        <span>Speed:</span>
        <span>{{pokemon.speed}}</span>
      </div>
    </div>
  </div>
  <div class="dialog__actions">
    <button class="btn btn--primary" mat-dialog-close>Close</button>
  </div>
</div>
