.dialog {
  padding: 20px;

  &__header {
    h3 {
      font-size: 22px;
      font-weight: bold;
      color: var(--black-color);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__figure {
    img {
      width: 150px;
      height: 150px;
    }
  }

  &__name {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: var(--black-color);
    text-transform: capitalize;
  }

  &__name::first-letter {
    color: var(--primary-color);
  }

  &__info {
    display: grid;
    gap: 5px;

    &-item {
      display: flex;
      justify-content: space-between;

      span:first-child {
        font-weight: 700;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}