<div class="tableUser">
  <div class="tableUser__search">
    <mat-form-field class="example-form-field">
      <mat-label>Search</mat-label>
      <input matInput type="text" [formControl]="search">
    </mat-form-field>
  </div>
  <div class="tableUser__content">
    <table mat-table [dataSource]="data | filterUser: searchText" class="table example-table" matSort
      matSortActive="created" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <td mat-cell *matCellDef="let row">
          <img class="table__avatar" [src]="row.avatar" [alt]="row.name">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>